.img-responsive{
    margin: 0 auto;
}

.list-group-item .img-responsive{
    margin:0;
}

.bg-black{
    background-color: black;
    height: 20.7rem;
}

.bg-footer{
    background-color: black;
    margin: 0;
    padding: 0;
}

.list-group-item{
    margin-right: 5px;
}

.logo{
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 15.5rem;
    width: 15.5rem;
    text-align: center;
}

ul{
    list-style: none;
}

img{
    margin: 0 auto;
}


.list-group-item{
    background-color: #0B2A3A;
}

.bio{
    color: #E0DEB7;
    background-color: #3D5C65;
}

.info{
    background-color: #0B2A3A;
    color: #E0DEB7;
}

.navbar{
    z-index: 1001;
}


h2{
    text-transform: uppercase;
}

.list-unstyled{
    background-color: #0B2A3A;
    color: #E0DEB7;
    padding-bottom: 10px;
}

.keyboard{
    max-width: 100%;
    padding-bottom: 1rem;
}

section{
    padding: 5px 0;
}


.title{
    text-align: center;
}

.container h3{
    text-transform: uppercase;
}

.container ul .name{
    text-transform: none;
}

.container p{
    padding-top: 10px;
}

.tble-one{
    background-color: #0B2A3A;
    color: #E0DEB7;
    padding: 0;
    margin: 5px;
}

.tble-two{
    background-color: #3D5C65;
    color: #E0DEB7;
    padding: 0;
    margin: 5px;
}

.tble-three{
    background-color: black;
    color: #E0DEB7;
    padding: 0;
    margin: 5px;
}

caption{
    color: #E0DEB7;
}

footer{
    float: right;
    text-align: right;
    padding-right: 10px;
}

footer ul{
    color: #E0DEB7;
    padding: 0;
}

footer ul li a{
    color: #E0DEB7;
}

/* Styling for the search results */

@media (max-width: 599px){

}

@media (max-width: 600px){

}

@media (min-width: 1200px ){
    article{
        width: calc(33% - 2.2rem);
    }

}
