.backgroundBlack {
  background-color: #000;
}

.center {
  text-align: center;
}

.contact-card {
  max-width: 577px;
  margin-right: auto;
  margin-left: auto;
}

.margin-top {
  margin-top: 12px;
}
